<div class="animated fadeInUp mobile-menu">
	<div class="mobile-menu-item" routerLink="/artistas">
		<i class="fas fa-users fa-lg"></i>
		<h6 class="text-white text-small mt-2">Artistas</h6>
	</div>

	<div class="mobile-menu-item" routerLink="/albuns">
		<i class="fas fa-layer-group fa-lg"></i>
		<h6 class="text-white text-small mt-2">Álbuns</h6>
	</div>

	<div class="mobile-menu-item" routerLink="/musicas">
		<i class="fas fa-music fa-lg"></i>
		<h6 class="text-white text-small mt-2">Músicas</h6>
	</div>
</div>