<app-user></app-user>

<div class="app-sidebar" *ngIf="userService.user">
	<img class="logo" src="https://innercoders.com.br/inti-spotify/assets/img/logo.png" routerLink="/artistas"/>

	<div class="main-menu">
		<ul>
			<li>
				<button mat-button routerLink="/artistas" routerLinkActive="active">Artistas</button>
			</li>
			<li>
				<button mat-button routerLink="/albuns" routerLinkActive="active">Álbuns</button>
			</li>
			<li>
				<button mat-button routerLink="/musicas" routerLinkActive="active">Músicas</button>
			</li>
		</ul>
	</div>

	<div class="footer">
		<button class="btn btn-block bg-white text-primary" routerLink="/favoritos">
			<i class="fas fa-star"></i>
			Seus Favoritos ({{favoritosService.countFavorites()}})
		</button>
	</div>
</div>

<div class="app-body mb-5 mb-lg-0">
	<router-outlet></router-outlet>
</div>

<app-mobile-menu *ngIf="userService.user"></app-mobile-menu>

<simple-notifications [options]="{timeOut: 8000, lastOnBottom: true, position: ['bottom', 'right']}"></simple-notifications>