<div class="animated fadeIn artist-header" *ngIf="artistasService.currentArtista" [ngStyle]="{'background-image': 'url('+ artistasService.currentArtista.images[0].url +')'}">

	<div class="overlay"></div>

	<div class="info">
		<h1>{{artistasService.currentArtista.name}}</h1>
		<div class="genres mb-2">
			<span class="" *ngFor="let genres of listGenres(artistasService.currentArtista.genres)">{{genres}}</span>
		</div>

		<div class="mt-3">
			<button class="btn btn-primary"><i class="fas fa-star"></i> Adicionar Favoritos</button>
			<button class="ml-3" mat-icon-button color="accent"><i class="fas fa-external-link-alt fa-lg"></i></button>
		</div>
	</div>

</div>

<div class="animated fadeIn container-fluid px-5 pb-5" *ngIf="artistasService.currentArtista">
	<div class="row">
		<div class="col-12 artist-top-tracks">
			<h2 class="mb-3">Músicas Populares</h2>

			<table class="table table-hover table-musics">
				<tr *ngFor="let track of topTracks">
					<td>
						<a mat-icon-button href="{{track.external_urls.spotify}}" target="_blank" color="primary" matTooltip="{{track.popularity}} popularidade">
							<i class="material-icons">
								play_circle_outline
							</i>
						</a>
					</td>
					<td>{{track.name}}</td>
					<td class="d-none d-sm-table-cell">
						<a *ngFor="let artist of track.artists; index as i" routerLink="/artistas/{{artist.id}}">
							{{artist.name}}<span class="text-muted" *ngIf="i + 1 < track.artists.length">,</span>
						</a>
					</td>
					<td class="d-none d-md-table-cell text-muted"><span *ngIf="track.explicit">explícito</span></td>
					<td class="d-none d-md-table-cell text-primary">{{trackDuration(track.duration_ms)}}</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<h2 class="mb-3">Álbuns</h2>
		</div>

		<div class="col-12 d-flex justify-content-center justify-content-lg-start flex-wrap">
			<div class="artist-albums mt-3 text-center mx-2" *ngFor="let album of albums">
				<div class="album-image mr-3" [ngStyle]="{'background-image': 'url(' + album.images[0].url + ')'}" *ngIf="album.images.length > 0"></div>

				<div class="album-info mt-3">
					<h5>{{album.name}}</h5>

					<span class="text-muted text-small">{{album.total_tracks}} músicas</span>
				</div>
			</div>
		</div>
	</div>
</div>