<div class="app-user" *ngIf="userService.user">

	<h6>{{userService.user.display_name}}</h6>

	<img class="mx-3" src="{{userService.user.images[0].url}}">

	<button class="animated fadeIn" mat-icon-button color="warn" (click)="logout()"><i class="fas fa-power-off fa-lg"></i></button>

</div>

<div class="animated fadeIn app-login" *ngIf="!userService.user">
	<img class="mb-3" src="/assets/img/logo.png"/>

	<h6>Procure artistas, músicas e álbuns!</h6>

	<a href="https://accounts.spotify.com/authorize?client_id=ad7581618e5a48af980fdbecd2f1dc26&redirect_uri=http:%2F%2Flocalhost:4200%2Fcallback&response_type=token&state=123" mat-raised-button color="primary">
		Login com Spotify

		<i class="fab fa-spotify fa-lg"></i>
	</a>
</div>