<div class="app-user" *ngIf="userService.user">

	<div class="">
		<img class="mobile-logo" src="https://innercoders.com.br/inti-spotify/assets/img/logo.png" routerLink="/artistas"/>
	</div>

	<div class="d-flex align-items-center">
		<div class="favorites d-inline d-lg-none">
			<button class="animated pulse infinite slow" mat-icon-button color="accent" routerLink="/favoritos">
				<i class="fas fa-star fa-lg"></i>
			</button>

			<div class="favorites-badge" *ngIf="favoritosService.countFavorites() > 0">
				{{favoritosService.countFavorites()}}
			</div>
		</div>

		<h6 class="d-none d-md-block">{{userService.user.display_name}}</h6>

		<img class="mx-3 user-image" src="{{userService.user.images[0].url}}" *ngIf="userService.user.images.length > 0">

		<button class="animated fadeIn" mat-icon-button color="warn" (click)="openLogoutDialog()"><i class="fas fa-power-off fa-lg"></i></button>
	</div>

</div>

<div class="animated fadeIn app-login" *ngIf="!userService.user">
	<img class="mb-3" src="https://innercoders.com.br/inti-spotify/assets/img/logo.png"/>

	<h6 class="mb-3">Procure artistas, músicas e álbuns!</h6>

	<a href="{{spotifyAuthUrl}}" mat-raised-button color="primary" [ngClass]="{'disabled' : loading}">
		Login com spotify

		<i class="fab fa-spotify fa-lg"></i>
	</a>
</div>