@mixin box-shadow($left, $top, $blur, $color, $inset: false) {
	@if $inset {
		-webkit-box-shadow:inset $left $top $blur $color;
		-moz-box-shadow:inset $left $top $blur $color;
		box-shadow:inset $left $top $blur $color;
	} @else {
		-webkit-box-shadow: $left $top $blur $color;
		-moz-box-shadow: $left $top $blur $color;
		box-shadow: $left $top $blur $color;
	}
}

@mixin background-gradient($color-start, $color-end, $pct-start : 0%, $pct-end : 100%) {
	background: -moz-linear-gradient(top, $color-start $pct-start, $color-end $pct-end);
	background: -webkit-linear-gradient(top, $color-start $pct-start, $color-end $pct-end);
	background: linear-gradient(to bottom, $color-start $pct-start, $color-end $pct-end);
}